* {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
}

#page {
    width: 100%;
}

.section-sides {
    padding-left: 10%;
    padding-right: 10%;
}

.section-up-bottom {
    padding-top: 20px;
    padding-bottom: 20px;
}

.section {
    padding: 20px 10%;
}

.section .title {
    text-align: center;
}

.background:nth-child(2n) {
    background-color: rgba(0, 0, 0, 0.05);
}

#header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #fff;
}

#header a {
    text-decoration: none;
}

#header #autoboost {
    height: 70px;
}

#header #fct {
    height: 40px;
}

#menu {
    position: sticky;
    top: 0;
    margin: 0;
    border-bottom: 2px solid gray;
    display: flex;
    align-items: center;
    background-color: rgb(240, 240, 240);
    z-index: 2;
}

#menu a {
    padding: 7px 10px 5px 10px;
    margin-left: 7px;
    font-size: 20px;
    color: #000;
    text-decoration: none;
    display: flex;
    align-items: center;
    transition: background-color 0.5s;
}

#menu a:hover {
    background-color: rgb(255, 255, 255);
}

#menu a:first-child {
    background-color: rgba(255, 255, 255, 0);
    padding-right: 0;
    padding-left: 0;
    margin-left: 0;
    margin-right: 7px;
}

#menu img {
    height: 20px;
}

#welcome {
    height: calc(100vh - 82px);
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background-image: linear-gradient(rgba(255,255,255,.8),rgba(255,255,255,.8)),url('./img/code.jpg');
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: cover;
}

#welcome a {
    position: absolute;
    bottom: 30px;
    font-size: 50px;
    text-decoration: none;
    padding: 0;
    margin: 0;
    color: #000;
    border-radius: 50%;
    z-index: 1;
}

#project .container {
    display: flex;
    align-items: center;
}

#project .container #identity,
#project .container #docs {
    text-align: center;
}

#project .container #identity {
    width: 30%;
    border-radius: 10px;
    transition: background-color 0.5s;
    padding: 10px;
    text-decoration: none;
    color: #3491ce;
}

#project .container #identity:hover {
    background-color: rgba(0, 0, 150, 0.1);
}

#project .container #identity img {
    width: 100%;
    border-radius: 10px;
}

#project .container #identity h3 {
    margin-bottom: 0;
}

#project .container #docs {
    width: 70%;
}

#project .container #identity a {
    text-decoration: none;
    color: #3491ce;
}

#project .container #identity h3 {
    margin-top: 10px;
}

#team #people {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
}

#team #people .person {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: calc(24% - 40px);
    margin: 10px 0.5%;
    padding: 20px 20px;
    background-color: rgba(0, 0, 0, 0.1);
    text-decoration: none;
    color: #000;
    border-radius: 10px;
    transition: background-color 0.5s;
}

#team #people .person:hover,
#team #people .person.active {
    background-color: rgba(0, 0, 0, 0.2);
}

#team #people .person img {
    width: 80px;
    border-radius: 50%;
}

#team #people .person .description {
    /*width: calc(60% - 20px);*/
    padding-left: 20px;
}

#team #people .person .description h3,
#team #people .person .description p {
    text-align: right;
}

#team #people .person .description h3 {
    margin: 0 0 5px 0;
}

#team #people .person .description p {
    margin: 0;
}

#team #people .person .social-links a {
    text-decoration: none;
    color: blue;
    font-size: 15px;
    margin-right: 5px;
    display: inline-block;
}

#team #people .person .social-links a span {
    display: flex;
    align-items: center;
    transition: opacity 0.5s;
}

#team #people .person .social-links a:hover span {
    opacity: 0.7;
}

#team #people .person .social-links a span:after {
    content: "•";
    font-size: 5px;
    margin-left: 5px;
}

#team #people .person .social-links a:last-child {
    margin-right: 0;
}

#team #people .person .social-links a:last-child span:after {
    content: none;
    font-size: 0;
    margin-left: 0;
}

#footer {
    text-align: center;
}

#menu-open-close {
    display: none;
    position: fixed;
    color: #000;
    font-size: 20px;
    top: 10px;
    right: 10%;
}

.mobile {
    display: none;
}

/* INDIVIDUAL ASSIGNMENT */

.individual-assignment-introduction p {
    line-height: 25px;
    margin-bottom: 5px;
    text-align: justify;
}

.individual-assignment-introduction ul {
    margin: 10px 0 0 0;
    padding: 0;
    list-style: none;
    display: flex;
    align-items: stretch;
}

.individual-assignment-introduction ul li {
    width: calc((100% / 5) - 2%);
    padding: 0 1%;
    text-align: center;
    border-right: 1px solid rgba(0, 0, 0, 0.1);
}

.individual-assignment-introduction ul li:last-child {
    border-right: none;
}

.individual-assignment-introduction ul li span {
    font-weight: bold;
    display: block;
    font-size: 18px;
    margin-bottom: 10px;
}

@media only screen and (max-width: 500px) {
    .desktop {
        display: none;
    }
    .mobile {
        display: block;
    }

    #page {
        z-index: 1;
    }

    #header {
        width: calc(100% - 20%);
        position: fixed;
        z-index: 4;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    #header h2 {
        margin: 0;
    }

    #header #autoboost {
        height: 25px;
    }

    #header #fct {
        display: none;
    }

    #menu {
        z-index: 2;
        position: fixed;
        width: 100%;
        display: none;
        padding-top: 40px;
    }

    #menu a {
        padding-left: 0;
        padding-right: 0;
        margin-top: 5px;
        margin-left: 0;
        margin-right: 0;
        width: calc(100% - 20%);
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    }

    #menu a:last-child {
        border-bottom: none;
    }

    #menu a:first-child {
        display: none;
    }

    #menu-open-close {
        display: block;
        z-index: 3;
    }

    #welcome {
        height: 100vh;
    }

    #welcome img {
        width: 100%;
    }

    #welcome h2 {
        padding-top: 20px;
        text-align: center;
    }

    #team #people .person {
        width: 100%;
    }

    .individual-assignment-introduction ul {
        flex-wrap: wrap;
    }

    .individual-assignment-introduction ul li {
        width: 100%;
        border-right: none;
        margin-bottom: 20px;
    }

    .individual-assignment-introduction ul li:last-child {
        margin-bottom: 0;
    }
}