* {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
}

#page {
    width: 100%;
}

.section-sides {
    padding-left: 10%;
    padding-right: 10%;
}

.section-up-bottom {
    padding-top: 20px;
    padding-bottom: 20px;
}

.section {
    padding: 20px 10%;
}

.section .title {
    text-align: center;
}

.background:nth-child(2n+1) {
    background-color: rgba(0, 0, 0, 0.05);
}

#header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 10px;
    padding-bottom: 10px;
}

#header a {
    text-decoration: none;
}

#header #autoboost {
    height: 70px;
}

#header #fct {
    height: 40px;
}

#menu {
    position: sticky;
    top: 0;
    margin: 0;
    border-bottom: 2px solid gray;
    display: flex;
    align-items: center;
    background-color: rgb(240, 240, 240);
}

#menu a {
    padding: 7px 10px 5px 10px;
    margin-left: 7px;
    font-size: 20px;
    color: #000;
    text-decoration: none;
    display: flex;
    align-items: center;
    transition: background-color 0.5s;
}

#menu a:hover {
    background-color: rgb(255, 255, 255);
}

#menu a:first-child {
    background-color: rgba(255, 255, 255, 0);
    padding-right: 0;
    padding-left: 0;
    margin-left: 0;
    margin-right: 7px;
}

#menu img {
    height: 20px;
}

#welcome {
    height: calc(100vh - 172px);
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

#team #people {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
}

#team #people .person {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: calc(24% - 80px);
    margin: 10px 0.5%;
    padding: 20px 40px;
    background-color: rgba(0, 0, 0, 0.1);
    text-decoration: none;
    color: #000;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.5s;
}

#team #people .person:hover,
#team #people .person.active {
    background-color: rgba(0, 0, 0, 0.2);
}

#team #people .person img {
    width: 50px;
    border-radius: 50%;
}

#team #people .person .description {
    /*width: calc(60% - 20px);*/
    padding-left: 20px;
}

#team #people .person .description h3,
#team #people .person .description p {
    margin: 0;
    padding: 0;
}

#team .info {
    display: none;
    width: calc(100% - 2%);
    padding: 0 1%;
}

#team .info ion-icon {
    position: absolute;
    right: calc(10% + 0.5%);
    font-size: 30px;
    cursor: pointer;
}

#footer {
    text-align: center;
}

#menu-open,
#menu-close {
    z-index: 3;
    display: none;
    position: fixed;
    top: 20px;
    right: 10%;
    color: #000;
    font-size: 20px;
}

.mobile {
    display: none;
}

@media only screen and (max-width: 500px) {
    .desktop {
        display: none;
    }
    .mobile {
        display: block;
    }

    #page {
        z-index: 1;
    }

    #header {
        display: none;
    }

    #menu {
        z-index: 2;
        position: fixed;
        width: 100%;
        display: none;
        padding-top: 40px;
    }

    #menu a {
        padding-left: 0;
        padding-right: 0;
        margin-top: 5px;
        margin-left: 0;
        margin-right: 0;
        width: calc(100% - 20%);
        border-top: 1px solid rgba(0, 0, 0, 0.1);
    }

    #menu a:first-child {
        border-top: none;
    }

    #menu-open {
        display: block;
    }

    #welcome {
        height: 100vh;
    }

    #welcome img {
        width: 100%;
    }

    #welcome h2 {
        padding-top: 20px;
        text-align: center;
    }

    #team .container {
        overflow-x: auto;
    }

    #team #people {
        width: 380%;
        flex-wrap: nowrap;
    }
}